@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* HEADER */
.container {
  background: #145017;
  margin: 64px auto;
  border-radius: 20px;
  padding: 64px;
  max-width: 60rem;
  color: #fff;
  
/* filter:alpha(opacity=70);
-moz-opacity:.70;opacity: .70; */
}

.logoverdeperfil {
  width: 350px;
  margin-left: 700px ;
}

.perfil {
  display: flex;
  align-items: center;
  justify-content: center;
}

.perfil-foto {
  border-radius: 200px;

  width: 250px;
}

.titulo {
  margin-left: 16px;
}

.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}

.titulo h3 {
  font-weight: 400;
  font-size: 24px;
  color: #000;
}

.titulo p {
  color: #be7f93;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 8px;
}

/* ÍCONES */
.icones-perfil {
  margin: 3px;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.2s;
}

/* .icones-perfil:hover {
  color: #9d91ab;
} */

/* PROJETOS */
.projetos {
  display: flex;
  flex-direction: column;
  background: #cad7e6;
  border-radius: 20px;
  margin: 34px;
}

.container-projetos {
  border-radius: 20px;
  padding: 18px;
  background-color: #207a24;
}

.container-projetos h3 {

  font-size: 22px;
  margin-bottom: 15px;
}

.container-projetos p {
  /*color: #1c1c1c;*/
  font-size: 18px;
  margin-bottom: 15px;
}

.container-projetos li {
  margin-bottom: 10px;
  list-style: none;
}

.container-projetos a {
  font-size: 18px;
  text-decoration: none;
  color: #1c1c1c;
}

.container-projetos a:hover {
  color: #0084a2;
}
.container-projetos input{
  color: #000;
}
.file-select {
    position: relative;
    display: inline-block;
  }
  
  .file-select::before {
    background-color: rgb(209, 209, 209);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Seleccionar'; /* testo por defecto */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: #000;
  }
  
  .file-select input[type="file"] {
    opacity: 0;
    width: 250px;
    height: 35px;
    display: inline-block;
    cursor: pointer;
  }
  
  #src-file1::before {
    content: 'Seleccionar Archivo';
  }
  #camion{
      width: 30px;
  }
  .datos{
      border: 0;
      border-radius: 5px;
    position: relative;
    /* left: 100px; */
    text-align: center;
  }

  .file-select {
width: 200px;
height: 25px;
margin-top: 10px;
margin-bottom: 10px;
  }

.lapiz{
    width: 30px;
    height: 30px;
}
label{
    display: flex;
}
label img{
    cursor: pointer;
}
#titulo-perfil{
  color: #fff;
}
#cabecera{
	z-index: 100;
	position: relative;
	display: flex;
	align-items: flex-end;
	gap: 1.7rem;
	justify-content: center;
	padding-top: 0.625rem;
}
#cabecera a{
	color: #fff;
	font-size: 1.5rem;
	font-weight: bold;
}
#cabecera a:hover{
	border-bottom: #fff 3.5px solid;

}
body{
  background-color: #2e7e05;
}
#cabecera a:hover{
	border-bottom: #fff 3.5px solid;

}